{% extends 'agendamento/base.html' %}

{% block content %}
<h2>Médicos Cadastrados</h2>
<a href="{% url 'medico-create' %}" class="btn">Novo Médico</a>

<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Especialidade</th>
            <th>CRM</th>
            <th>Telefone</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for medico in medicos %}  <!-- Note o uso de 'medicos' aqui -->
        <tr>
            <td>{{ medico.nome }}</td>
            <td>{{ medico.especialidade }}</td>
            <td>{{ medico.crm }}</td>
            <td>{{ medico.telefone }}</td>
            <td>
                <a href="{% url 'medico-update' medico.pk %}">Editar</a>
                <a href="{% url 'medico-delete' medico.pk %}">Excluir</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5">Nenhum médico cadastrado.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}