{% extends 'agendamento/base.html' %}

{% block content %}
<h2>Pacientes Cadastrados</h2>
<a href="{% url 'paciente-create' %}">Novo Paciente</a>

<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>CPF</th>
            <th>Data Nasc.</th>
            <th>Telefone</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for paciente in object_list %}
        <tr>
            <td>{{ paciente.nome }}</td>
            <td>{{ paciente.cpf }}</td>
            <td>{{ paciente.data_nascimento|date:"d/m/Y" }}</td>
            <td>{{ paciente.telefone }}</td>
            <td>
                <a href="{% url 'paciente-update' paciente.pk %}">Editar</a>
                <a href="{% url 'paciente-delete' paciente.pk %}">Excluir</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5">Nenhum paciente cadastrado.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}